<div class='product-wrapper'>
  <div class='list-item-information'>
    <div class=''><%= @ingredient.name %></div>
    <div class=''><%= @ingredient.description %></div>
    <div class=''><%= @ingredient.main_purpose %></div>
    <div class=''><%= @ingredient.verdict %></div>
  </div>
</div>