
$silver: #aaa;
$red: #dd3333;
$yellow: #ffcc00;
$green: #33bb55;

body {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  font-family: Nunito;
}

.list-item-image {
  max-height: 200px;
  margin: 0 auto;
  display: block;
}

.list-group-item {
  margin-top: 1.5rem;
  border-radius: 3px;
}

.clickable-item {
  display: flex;
  color: initial;

  &:hover {
    text-decoration: none;
    color: initial;
  }

  .image-wrapper {
    width: 200px;
  }
}

.list-item-information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 2rem;

  .name {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  .company {
    font-weight: 700;
    font-size: 1.25rem;
    color: #777;
  }

  .price {

  }
}

.product-wrapper {
  display: flex;

  .image-wrapper img {
    max-height: 400px;
  }

  .buy-now {
    max-width: 150px;
    margin: 8px 0;
    height: 32px;
    padding: 2px;
    border-radius: 3px;
  }

  .ingredient-section {
    .title {
      display: block;
    }

    .legend {
      display: flex;
      width: 200px;
      justify-content: space-between;
      font-size: 0.75rem;
      font-weight: 700;
      
      > div {
        display: flex;
        align-items: center;
      }
    }

    .color-sample {
      width: 1rem;
      height: 0.5rem;
      margin-right: 5px;
    }

    .neutral  { color: $silver; }
    .bad  { color: $red; }
    .okay  { color: $yellow; }
    .good  { color: $green; }

    .ingredient-list {
      padding: 2px;
      border-top: 1px solid #666;
      border-width: thick;
    }
  }

  .rating-neutral, .rating-neutral:hover {
    color: $silver;
  }
  .rating-bad, .rating-bad:hover {
    color: $red;
  }
  .rating-okay, .rating-okay:hover {
    color: $yellow;
  }
  .rating-good, .rating-good:hover {
    color: $green;
  }
}



